.btn {
    border: none;
    user-select: none;
    cursor: pointer;
    color: var(--text-main); /* #0f0f0f; */
    background-color: var(--bg-hover); /* #f1f1f1; */
    height: 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
    border-radius: 18px;

    display: flex;
    align-items: center;
    column-gap: 8px;

    &:hover {
        background-color: var(--bg-active); /* #d9d9d9 */
    }
    &:active {
        background-color: var(--border);
    }
    &.start {
        padding: 0 24px;
    }
    &.save {
        padding: 0 12px;
    }
    &.change {
        padding: 0 24px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-main);
    }
}