.file {
    column-gap: 0;
    cursor: pointer;

    &:hover {
        background-color: var(--bg-file-hover);
    }
    &:active {
        background-color: var(--bg-file-active);
    }
    &:focus {
        color: var(--text-file-focus);
        background-color: var(--bg-file-focus);
        outline: 1px solid var(--bg-file-outline);
    }
    &.active {
        background-color: var(--bg-file-active);
    }

    .indent {
        height: 100%;
        position: absolute;
        top: 0;
        left: 16px;
        pointer-events: none;

        .guide {
            transition: opacity .1s linear;
            display: inline-block;
            box-sizing: border-box;
            height: 100%;
            border-left: 1px solid transparent;
            opacity: 0;

            &.active {
                opacity: 1;
                border-color: rgb(88, 88, 88);
            }
        }
    }
    .twistie {
        height: 100%;
    }

    .content {
        display: flex;
        align-items: center;
        column-gap: 6px;
        flex: 1;
        overflow: hidden;
        height: 100%;

        .icon {
            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;

            &::before {
                width: 16px;    
                height: 100%;
                color: #d4d7d6;
                content: "\E023";
                background-image: unset;
            }

            img {
                width: 16px;
                height: 16px;
                
            }
        }
        .title {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
            line-height: 20px;
        }
    }
}