.menu-btn {
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &:hover {
        background-color: var(--bg-hover);
    }
    &:active {
        background-color: var(--bg-active);
    }

    .icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: relative; 

        // img {
        //     pointer-events: none; 
        //     display: inherit; 
        //     width: 100%; 
        //     height: 100%;
        // }

        .icon-line {
            cursor: pointer;
            width: 100%;
            height: 2px;
            background-color: var(--text-main);
            border-radius: 5px;
            position: absolute;
            transition: top .15s .15s, transform .15s;

            &:first-child {
                top: 2px;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:last-child {
                top: 16px;
            }
        }

        &.expanded .icon-line {
            &:first-child {
                top: 9px;
                transform: rotate(45deg);
                transition: top .15s, transform .15s .15s; 
            }
            &:nth-child(2) {
                top: 9px;
                transform: rotate(-45deg);
                transition: top .15s, transform .15s .15s;
            }
            &:last-child {
                top: 9px;
                transform: rotate(-45deg);
                transition: top .15s, transform .15s .15s;
                /* opacity: 0;
                left: -10px; */
            }
        }
    }
}