.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper {
        position: relative;
        color: white;
        display: flex;
        flex: 1 1 auto;
        min-height: 0;

        .content {
            background-color: #121212;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}

/* .layout__content.active {
   margin-left: 64px;
} */