.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 2px; */
    padding: 0 12px;
    height: 35px;

    .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11px;
        
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .btns {
        height: 20px;
        display: flex;
        align-items: center;
        column-gap: 4px;
        /* margin-right: 12px; */

        .icon {
            cursor: pointer;
            padding: 2px;
            border-radius: 4px;
            transition: background-color 0.15s ease;

            &:hover {
                background-color: rgb(55, 55, 61);
            }
        }
    }
}