.list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .item {
        position: relative;
        padding-left: 14px;
        color: #aaa;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #f1f1f1;
        }
        &:hover {
            color: #f1f1f1;
        }

        &.completed {
            color: #009a5b;

            &:hover {
                color: #01c573;
            }
        }
    }
}