.list {
    display: flex;
    flex-direction: column;

    .item {
        margin-left: 24px;
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: var(--text-secondary);

        .icon {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                display: block;
                width: 18px;
                height: 18px;
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 100%;
                background: lch(25 25 277.6);
                box-shadow: 0 0 0 1px var(--text-main);
            }
            svg {
                z-index: 2;
            }
        }
        .title {
            color: var(--text-secondary);
        }

        &:hover {
            .title {
                color: var(--text-main);
            }
        }
        &.completed {
            .icon {
                &::before {
                    background-color: var(--complete);
                }
            }
            .title {
                color: var(--complete);
            }
            &:hover {
                .title {
                    color: var(--text-main);
                }
            }
        }
    }

    .line {
        margin-left: 32.5px;
        width: 1.5px;
        height: 12px;
        border-left: 1.5px solid var(--border);
    }
}