.theory {
    flex-shrink: 0;
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;

    .content {
        overflow-y: scroll;
        scrollbar-width: 6px;
        scrollbar-color: rgba(121,121,121,.4) transparent;
        overscroll-behavior: contain;
        height: 100%;
        padding: 15px;
        background-color: rgb(34,37,41);

        .header {
            .title {
                min-height: 40px;
                font-weight: 700;
                margin-bottom: 12px;
                font-size: 32px;
                line-height: 40px;
                color: #e2e3e7;
                border-bottom: 1px solid #52525b;
                padding-bottom: 10px;
            }
        }

    }
    .controls {
        padding: 15px;
        background-color: rgb(34,37,41);
        border-top: 1px solid #52525b; 

        button {
            max-width: 270px;
            color: #fff;
            cursor: pointer;
            user-select: none;
            border: none;
            font-size: 16px;
            padding: 9px 19px;
            text-align: center;
            border-radius: 4px;
            background-color: #009A5B;
            transition: color 0.3s ease;

            &:hover {
                color: #B3FFE3;
            }
            &:active {
                background-color: #01874f;
            }
            &:focus {
               color: #B3FFE3;
                outline: none; 
            }
        }
    }
}