.folder {
    position: relative;
    .header {
        height: 22px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 6px;
        cursor: pointer;
        padding-left: 4px;
        position: relative;
        /* focus */
        /* background-color: rgb(4, 57, 94); */

        &:hover {
            background-color: var(--bg-file-hover);
        }
        &:focus {
            color: var(--text-file-focus);
            background-color: var(--bg-file-focus);
            outline: 1px solid var(--bg-file-outline);
        }

        .indent {
            height: 100%;
            position: absolute;
            top: 22px;
            left: 16px;
            pointer-events: none;
        }
        .icon {
            padding-left: 8px;
            transform: translate(3px);

            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;

            &.collapsed::before {
                transform: rotate(-90deg);
            }
        }
        .title {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
            line-height: 20px;
        }
    }
}