.folder {
    position: relative;
    .header {
        height: 22px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 6px;
        cursor: pointer;
        padding-left: 4px;
        position: relative;
        /* focus */
        /* background-color: rgb(4, 57, 94); */

        &:hover {
            background-color: var(--bg-file-hover);
        }
        &:focus {
            color: var(--text-file-focus);
            background-color: var(--bg-file-focus);
            outline: 1px solid var(--bg-file-outline);
        }

        .contentWrapper {
            display: flex;
            align-items: center;
            column-gap: 6px;
            width: 100%;
            height: 100%;
        }
        .icon {
            padding-left: 8px;
            transform: translate(3px);

            height: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;

            &.collapsed::before {
                transform: rotate(-90deg);
            }
        }
        .title {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
            line-height: 20px;
        }
    }
}

.indent-guide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.12) !important; /* Белая полупрозрачная линия для темной темы */
    pointer-events: none;
    z-index: 10;
}