.list {
    /* background-color: rgb(17,20,28); */
    background-color: var(--bg-search); //var(--bg-search)
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--search-border);
}