.btn {
    cursor: pointer;
    padding: 0 15px;
    background-color: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 40px;
    font-size: 14px;
    height: 36px;
    color: var(--text-main);

    display: flex;
    align-items: center;
    column-gap: 6px;
    font-weight: 500;

    .icon {
        display: flex;
        align-items: center;
        margin-left: -5px;
        color: var(--text-main);
    }

    &:hover {
        background-color: var(--bg-hover);
        border-color: transparent;
    }
    &:active {
        background-color: var(--bg-active);
    }
}

.auth {

}
.create {
    
}